@charset "utf-8";
* {
    margin:0;
    padding:0;
    outline: none;
}

html{height: 100%;}

body {
    min-width: 1024px;
    max-width: 1024px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

header{
    width: 100%;
    max-height: 100%;
    padding-top:15px; 
    padding-bottom:10px; 
    background-color: white;
    min-height: 40px;
}

.leftPic{
    max-width: 100%;
    margin-left: 1px;
    height: auto;
    width: auto\9;
    float: left;
}

.rightText{
    float:right;
    padding: 20px;
    font-size:1.2em;
    font-family: 'Europe', arial;
    color: #eb5017;
}

.menu{
    display: grid;
    margin-top: 103px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #eb5017;
    grid-template-columns: 215px 129px 182px 157px 120px 196px;
    grid-column-gap: 1px;
    width: 1003px;
    height: 45px;
}

.menu > li{
    display: block;
    padding-top: 12px;
    padding-bottom: 15px;
    background-color: #231f20;
    height: fit-content;
    cursor: pointer;
    list-style-type: none;
}

.menu > li:hover{
    background-color: #eb5017;
}

.menu > li > a{
    font-family: 'Arial', arial;
    font-size: 13px;
    text-decoration-line: none;
    color: white;
    
}

#cred{padding-left: 64px;}
#vklad{padding-left: 40px;}
#deb{padding-left: 33px;}
#str{padding-left: 34px;}
#druz{padding-left: 35px;}
#ibank{padding-left: 34px;}

#breadcrumbs {
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    list-style: none;
    font-size: 12px;
    }

#breadcrumbs a{
    text-decoration-line: none;
    border-bottom: 1px solid #231f20;
    font-family: 'Arial', arial;
    color: #231f20;
}

#breadcrumbs #ref:after{
    padding-left: 3px;
    padding-right: 3px;
    content: '-';
    font-family: 'Arial', arial;
    color: #231f20;
}

#breadcrumbs #curr{
    font-family: 'Arial', arial;
    color: #231f20;
}

.calc{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
    margin-top: 25px;
    width: 652px;
    height: 378px;
    background-color: #f2f2f2;
}

.calcName{
    height: 40px;
    padding-left: 90px;
    padding-top: 15px;
    grid-column: 1/3;
}

.cName{
    color: #eb5017;
    font-family: 'Arial', arial;
    font-weight: normal;
}

.calcBody{
    flex-grow: 1;
    width: 330px;
    display: grid;
    grid-template-columns: 192px 90px;
    grid-row-gap: 20px;
    grid-column-gap: 28px;
    grid-auto-rows: 24px;
}

.nameElem{
    font-family: 'Arial', arial;
    font-size: 14px;
    justify-self: end;
}


.valElem > input,
#valElem3 > select
{
    width: 80px;
    font-size: 12px;
    border: 1px solid rgb(197, 197, 197);
    box-shadow:0px -2px 2px 0px rgb(219, 219, 219) inset;
    box-sizing: border-box;
}

.valElem > input::-webkit-input-placeholder {color:black;}
.valElem > input::-moz-placeholder          {color:black;}
.valElem > input:-ms-input-placeholder      {color:black;}

#valElem4{
    display: flex;
    justify-content: space-between;
    font-family: 'Arial', arial;
    font-size: 13px;
    
}

.valElem{
    display: flex;
    flex-direction: row;
}

.polzunok-container-1 *, .polzunok-container-2 *{
    box-sizing: border-box;
    outline: none;
}

.polzunok-container-1, .polzunok-container-2{
    margin-right: 83px;
    border: 1px solid #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 1px 7px rgb(148, 148, 148);
}

.polzunok-container-1{
    margin-top: 50px;
}

.polzunok-container-2{
    margin-top: 107px;
}

.polzunok-container-1 .ui-slider,
.polzunok-container-2 .ui-slider {
    position: relative;
    background: black; 
    border: 2px solid #231f20;
    cursor: pointer;
    height: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.polzunok-container-1 .ui-slider .ui-slider-handle,
.polzunok-container-2 .ui-slider .ui-slider-handle {
    position: absolute;
    margin-left: -4px;
    width: 7px;
    height: 7px;
    top: -2px;
    cursor: pointer;
    border-radius: 5px;   
    background: #f2f2f2;
    box-shadow: inset 0 -2px 5px rgb(136, 136, 136);
    z-index: 0;
}

.polzunok-container-1 .ui-slider .ui-slider-range,
.polzunok-container-2 .ui-slider .ui-slider-range {
    position: relative;
    background: #8db439; 
    border: 2px solid #231f20;
    height: 7px;
    left: -2px;
    top: -2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 0;
 }

#t1, #t2{
    font-size: 12px;
    font-family: 'Arial', arial;
}

#t2{
    margin-left: 115px;
}

.calculation{
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    height: 40px; 
}

.butt{
    border: 1px solid rgb(160, 160, 160);
    width: fit-content;
    border-radius: 6px;
    box-shadow: 0px 1px 7px rgb(148, 148, 148);
    margin-left: 25px;
}

.button{
    height: 31px;
    width: 98px;
    border: 1px solid #f0ff35;
    background: linear-gradient(to bottom, #bff535, #44d600);
    font-size: 11px;
    font-family: 'Arial', arial;
    color: #395306;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.button:active{
    background: #8db439;
}

.rez{
    font-size: 11px;
    font-family: 'Arial', arial;
    color: #395306;
    font-weight: bold;
    margin-left: 24px;
}

.count{
    margin-left: 5px;
    font-size: 13px;
    font-family: 'Arial', arial;
    width: fit-content;
}

footer {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #231f20;
    min-height: 60px;
}

.botMenu{
    display: flex;
    margin-left:50px;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.botMenu > a{
    color: white;
    font-family: 'Arial', arial;
    font-size: 12px;
    padding:1.1em;
}

#page-wrap{
    flex-grow: 1;
}